<a href="https://colab.research.google.com/github/melgabay/Python/blob/main/Titanik_bagging_from_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
path1="/content/drive/MyDrive/Colab Notebooks/Titanik data/titanikData.csv"
df = pd.read_csv(path1)
print(df)

path2 = "/content/drive/MyDrive/Colab Notebooks/Titanik data/titanikTest.csv"
test = pd.read_csv(path2)
print(test)

     pclass    age  gender survived
0       1st  adult    male      yes
1       1st  adult    male      yes
2       1st  adult    male      yes
3       1st  adult    male      yes
4       1st  adult    male      yes
...     ...    ...     ...      ...
2145   crew  adult  female      yes
2146   crew  adult  female      yes
2147   crew  adult  female       no
2148   crew  adult  female       no
2149   crew  adult  female       no

[2150 rows x 4 columns]
   pclass    age gender survived
0     1st  adult   male      yes
1     1st  adult   male      yes
2     1st  adult   male      yes
3     1st  adult   male      yes
4     1st  adult   male      yes
..    ...    ...    ...      ...
61    3rd  adult   male      yes
62    3rd  adult   male      yes
63    3rd  adult   male      yes
64    3rd  adult   male      yes
65    3rd  adult   male      yes

[66 rows x 4 columns]

# Import

In [3]:
import pandas as pd              # pandas is great for managing datasets as a single object
import numpy as np               # numpy has great matrix/math operations on arrays

import matplotlib.pyplot as plt  # allows you to print figures and charts
import seaborn as sns            # a fancy chart add-on for matplotlib

# Read the training data from csv file

In [4]:
df = pd.read_csv(path1, header=0, dtype={"Age": np.float64}) 
# Get the basic info for the data in this file
print(df)
df.info()

     pclass    age  gender survived
0       1st  adult    male      yes
1       1st  adult    male      yes
2       1st  adult    male      yes
3       1st  adult    male      yes
4       1st  adult    male      yes
...     ...    ...     ...      ...
2145   crew  adult  female      yes
2146   crew  adult  female      yes
2147   crew  adult  female       no
2148   crew  adult  female       no
2149   crew  adult  female       no

[2150 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150 entries, 0 to 2149
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    2150 non-null   object
 1   age       2150 non-null   object
 2   gender    2150 non-null   object
 3   survived  2150 non-null   object
dtypes: object(4)
memory usage: 67.3+ KB

In [ ]:
test = pd.read_csv(path2, header=0, dtype={"Age": np.float64}) 
# Get the basic info for the data in this file
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    66 non-null     object
 1   age       66 non-null     object
 2   gender    66 non-null     object
 3   survived  66 non-null     object
dtypes: object(4)
memory usage: 2.2+ KB

# Preprocessing functions
Preprocessing should be done exactly the same on both the training and testing data sets.

Convert the class field to numeric

In [7]:
def convertpclass(df):
    
  df["mahlaka"] = pd.Categorical(df['pclass'], ordered=True,categories=['crew', '1st', '2nd', '3rd']).codes
  
  # Now drop the "Sex" column since we've already replaced it by the integer column "Gender"
  df = df.pop('pclass')
      
  return df

Convert the age field to numeric

In [8]:
def convertAge(df):
    
    # Convert the 'adult'/'child' strings to integer classifiers: adult = 1, child = 0
    # Create a new column called "guil" which is a mapping of the "age" column into integer values
    df["guil"] = df["age"].map( {"adult": 1, "child": 0} ).astype(int)

    # Now drop the "guil" column since we've already replaced it by the integer column "age"
    df = df.pop('age')

    return df

Convert the gender field to numeric

In [9]:
def convertGender(df):
    
    # Convert the 'male'/'female' strings to integer classifiers: Female = 0, Male = 1
    # Create a new column called "Gender" which is a mapping of the "gender" column into integer values
    df["sex"] = df["gender"].map( {"male": 1, "female": 0} ).astype(int)
    
    # Now drop the "gender" column since we've already replaced it by the integer column "Gender"
    df = df.pop('gender')
    
    return df

Convert Survived

Yes = 1
No = 0

In [10]:
def convertSurvived(df):

  # Convert the survivor integer classifiers: yes = 1, no = 0
  df["survivant"] = df["survived"].map( {"yes": 1, "no": 0} ).astype(int)

  # Now drop the "survivant" column since we've already replaced it by the integer column "survivant"
  df = df.pop('survived')
  
  return df

# Run fonction to change the type of the variable

In [11]:
print(df)
convertpclass(df)
convertAge(df)
convertGender(df)
convertSurvived(df)
print(df)

     pclass    age  gender survived
0       1st  adult    male      yes
1       1st  adult    male      yes
2       1st  adult    male      yes
3       1st  adult    male      yes
4       1st  adult    male      yes
...     ...    ...     ...      ...
2145   crew  adult  female      yes
2146   crew  adult  female      yes
2147   crew  adult  female       no
2148   crew  adult  female       no
2149   crew  adult  female       no

[2150 rows x 4 columns]
      mahlaka  guil  sex  survivant
0           1     1    1          1
1           1     1    1          1
2           1     1    1          1
3           1     1    1          1
4           1     1    1          1
...       ...   ...  ...        ...
2145        0     1    0          1
2146        0     1    0          1
2147        0     1    0          0
2148        0     1    0          0
2149        0     1    0          0

[2150 rows x 4 columns]

# Bagging from scratch

In [ ]:
class Random_Forest:
  def __init(self, n_trees=100, min_samples_split =2, max_depth=100, n_feat)

SyntaxError: ignored

Dans l'étape suivante, nous séparerons les variables indépendantes et dépendantes, en enregistrant les caractéristiques en x et la variable cible en y. Plus tard, divisez les données en entrainant les variables de test en utilisant train_test séparé de sklearn. Comme indiqué ci-dessous.

In [ ]:
# On a separe le tableau en donnant y uniquement la classes les survivants
# variables independantes
x = df.drop(['survived'], axis = 1)
print(x)

# variables dependantes
y = df['survived']
print(y)

# Creating the train and test dataset